figcaption {
	margin-top: 1%;

}

h4 {
	margin-bottom: 0;
	font-size: 0.8em;
}

p {
	margin-left: 0;
	margin-bottom: 5%;
	font-family: 'Gilroy-Light';
}

h5 {
	font-size: 1.2em;
	  font-family: 'Gilroy-Light';
	/*color: #82142b;*/
	text-transform: uppercase;
  letter-spacing: 0.025em;
}

img {
	width: 100%;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


img:hover {
	width: 110%;
}

a {
	color: #82142b;
}

a:hover {
	color: black;
}


.cell ul  {
	font-size: 1.2em;
	font-family: 'Gilroy-Light';
}

figcaption {
	  font-family: 'Gilroy-ExtraBold';
	padding-bottom: 10%;
}

.flickity-viewport {
	height: 600px;
}

.carousel-cell is-selected {
	width: 60%;
	height: 500px;
}

.bildlegende {
	  font-family: 'Gilroy-Light';
}

.top-versatz{
	margin-top: 20%;
}

.bocado {

}

.nanidoko {
	margin-top: 0;
}

.grid-x .nanidoko {
	padding-top: 0;
}

.box {
	border-style: solid;
	border-width: 1px;
	/*height: 40%;*/
	width: 80%;
	padding: 1em;
	margin-left: 1em;
}


.date {
	font-size: 0.8rem;
	  font-family: 'Gilroy-ExtraBold';
	letter-spacing: 0.025em;
	margin-top: 3%;
	margin-left: 0;
	margin-bottom: 0;
}


.top-minus-versatz {
  margin-top: -200px;
}

.head {
	margin-bottom: 10%;
}

.arbeiten {
	margin: 0;
	margin-bottom: 2%;
}

/*CAROUSEL*/
.main-carousel .carousel-cell {
	width: 100%;
	/*height: 100%;*/
}
.main-carousel .carousel-cell img {

	margin: 0 auto;
	display: block;
 	height: 600px;
	width: auto;
}

.carousel-cell {
  width: 100%; /* full width */
  /* height: 200px; */
/*  background: red;
*/  /* center images in cells with flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell figcaption {
  padding-bottom: 0;
  margin: 0 10%;
}

