figcaption {
	margin-top: 1%;

}

h4 {
	margin-bottom: 0;
	font-size: 0.8em;
}

p {
	margin-left: 0;
	margin-bottom: 5%;
	font-family: 'Gilroy-Light';
}

h5 {
	font-size: 1.2em;
	  font-family: 'Gilroy-Light';
	/*color: #82142b;*/
	text-transform: uppercase;
  letter-spacing: 0.025em;
}

img {
	width: 100%;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


img:hover {
	width: 110%;
}

a {
	color: #82142b;
}

a:hover {
	color: black;
}


ul  {
	font-size: 1.2em;
}

figcaption {
	  font-family: 'Gilroy-ExtraBold';
	padding-bottom: 10%;
}

.bildlegende {
	  font-family: 'Gilroy-Light';
}

.top-versatz{
	margin-top: 20%;
}

.bocado {
	translate: 20%;

}

.nanidoko {
	margin-top: 0;
}

.grid-x .nanidoko {
	padding-top: 0;
}

.box {
	border-style: solid;
	border-width: 1px;
	/*height: 40%;*/
	width: 80%;
	padding: 1em;
	margin-left: 1em;
}


.date {
	font-size: 0.8rem;
	  font-family: 'Gilroy-ExtraBold';
	letter-spacing: 0.025em;
	margin-top: 3%;
	margin-left: 0;
	margin-bottom: 0;
}



.head {
	margin-bottom: 10%;
}

.arbeiten {
	margin: 0;
	margin-bottom: 2%;
}

/*CAROUSEL*/
.main-carousel .carousel-cell {
	width: 100%;
	/*height: 100%;*/
}
.main-carousel .carousel-cell img {
	width: auto;
	margin: 0 auto;
}


